<h1><%= @the_user.username %></h1>

<dl>
  <dt>
    Private
  </dt>
  <dd>
    <%= current_user.private %>
  </dd>

  <dt>
    Followers
  </dt>
  <dd>
    <%= current_user.followers.count %>

    <div>
      <% if true %>
      <form action="/insert_follow_request" method="post">
        <input type="hidden" name="recipient_id" value="<%= @the_user.id %>">

        <button>
          Follow
        </button>
      </form>

      <% else %>
      <a href="/delete_follow_request/2404">
        Unfollow
      </a>
      <% end %>
    </div>
  </dd>

  <dt>
    Following
  </dt>
  <dd>
    <%= current_user.leaders.count %>
  </dd>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>


<h2>Own photos (<%= @the_user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>
  </tr>

  <% @the_user.own_photos.each do |a_photo| %>

    <tr>
      <td>
        <img src=<%= a_photo.image %>>
      </td>

      <td>
        <%= a_photo.poster.username %>
      </td>

      <td>
        <%= a_photo.caption %>
      </td>

      <td>
        <%= a_photo.created_at %>
      </td>

      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
